body{
  font-family: helvetica, arial, sans-serif;
  color: #2b2b2b;
}
.container{
  display:flex;
  flex-wrap: wrap;
}
.component-container{
  width: 100%;
}
.box{
  width: 100%;
  height: 300px;
  float:left;
  margin-bottom: 130px;
}
.input-text{
  height: 100%;
  width: 95%;
  resize:none;
}
.output-text{
  height: 100%;
  padding: 5px;
  width: 95%;
  border: 1px solid #2b2b2b;
}

//media queries
@import 'media-queries';
